/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/10/2019, 10:09:11
    Author     : 20161inf_i0222
*/


.menu{
    border: solid 5px white;
    background-color: black;
    height: 40px;
}