/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/10/2019, 10:09:11
    Author     : 20161inf_i0222
*/


.menu{
    border-right:  solid 2px #363636;
    background-color: #1C1C1C;
    height: 40px;
    text-align: center;
    padding-top: 5px;
}
.link{
    
    
    color: white;
    font-size: 20px;
}
