/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/09/2019, 19:48:29
    Author     : Samara Lellis
*/
.header{
    background-image: url(../imagens/agrvai.jpg);
    text-align: center;
    color:crimson;
    height: 200px;
    padding-top: 65px;
    font-family: fantasy;
    font-size: 50px;
        
}
.menu{
 
    font-size: 20px;
    text-align: center;
    height: 40px;
    background-image: url(../imagens/agrvai.jpg);
    padding-top: 5px;
}
.link{
    color: black;
    
}
.parte1{
    background-color: #7FFFD4;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.parte2{
    background-image: url(../imagens/agrvai.jpg);

}
.introducao{

    text-align:justify;
    font-size: 30px;
    color: black;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
   
    
}
.imagem{
    margin-right: 50px;
    
}
.espaco{
    height: 1px;
}
/* 
  Daqui para baixo é do login
*/
.fundo_login{
    background-image: url(../imagens/agrvai.jpg);
}
.titulo_login{
    margin-top: 150px;
    font-family:inherit;
    text-align: center;
    font-size: 50px;
    color: #FF0000;
    margin-bottom: 20px;
}
.login_mat{
    font-size: 20px;
    margin-right: 27px;
    margin-left: 10px;
}
.login_senha{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.coluna_um{
    height: 50px;
}
#id_matricula{
    padding: 10px;
    margin-top: 30px;
    font-size: 20px;
    alignment-adjust:central;
}
#id_senha{
    padding: 10px;
    font-size: 20px;
    alignment-adjust:central;
    margin-top: 30px;
    margin-left: 27px;
}
.button1{
    margin-left: 140px;
    margin-top: 40px;
    font-size: 20px;
    background-color: #FF69B4;
}
.button2{
    margin-top: 40px;
    font-size: 20px;
    background-color: #FF69B4;
}
.voltar{
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
}