/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/09/2019, 19:48:29
    Author     : Samara Lellis
*/


.menu{
 
    font-size: 20px;
    text-align: center;
    height: 40px;
    background-image: url(../imagens/img_fundo.jpg);
    padding-top: 5px;
}
.link{
    color: white;
    
}
.parte1{
    background-color: #331954;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.introducao{

    text-align:justify;
    font-size: 30px;
    color: white;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
   
    
}
.imagem{
    margin-right: 50px;
    
}
.espaco{
    height: 1px;
}
/* 
  Daqui para baixo é do login
*/

.titulo_login{
    font-family:inherit;
    text-align: center;
    font-size: 50px;
    color: #FF0000;
    margin-bottom: 20px;
}
.login_mat{
    font-size: 20px;
    margin-right: 27px;
    margin-left: 10px;
    color:white;
}
.login_senha{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color:white;
}
.coluna_um{
    height: 50px;
}
#id_matricula2{
    padding: 10px;
    margin-top: 30px;
    font-size: 20px;
    alignment-adjust:central;
}
#id_senha2{
    padding: 10px;
    font-size: 20px;
    alignment-adjust:central;
    margin-top: 30px;
    margin-left: 27px;
}
.button{
    margin-left: 70px;
    margin-top: 40px;
    font-size: 20px;
    background-color: #331954;
    color:white;
}

.voltar{
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
}
.capa_sol{
    width: 100%;
}
.parte2{
    background-image: url(../imagens/img_fundo.jpg);
}
/* 
  Cadastro
*/
.campo{
    font-size: 20px;
}
.espaco2{
    height: 200px;
}
.buttonl{
    margin-left: 100px;
    margin-top: 40px;
    font-size: 20px;
    background-color: #331954;
    color:white;
}
.titulo{
    color:white;
    font-size: 30px;
    
}
.texto{
    color: white;
    font-size: 20px;
    margin-left: 40px;
}
